.logincontainer {
        position: relative;
    
    margin: 80px auto;
    padding: 20px 40px 40px;
    
}
.topul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0px;
    width: 100%;
}

li {
    float: left;
}

 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 li a:hover {
     background-color: #111;
 }

.class{
    
    margin: auto;
}

.centerc {
     height: 100%;
    display: flex;
     justify-content: center;
    align-items: center;
    margin-right: auto;
    width: 50%;
    margin-bottom: 80px;
    margin-left: auto;
    
}

.login-container {
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

 .text-xs-center {
        text-align: center;
    }

    .g-recaptcha {
            margin-left: 70px;
    }
.otherlogin{
    display:inline-block;
    width: 150px;
}